bitstring==3.1.9
Brotli==1.0.9
cffi==1.15.0
click==8.0.3
construct==2.10.54
cryptography==3.4.8
ecdsa==0.17.0
Flask==0.12.5
Flask-Compress==1.10.1
Flask-SocketIO==2.9.6
future==0.18.2
gdbgui==0.13.2.0
gevent==1.5.0
greenlet==1.1.2
itsdangerous==2.0.1
Jinja2==3.0.3
kconfiglib==13.7.1
MarkupSafe==2.0.1
pycparser==2.21
pyelftools==0.27
pygdbmi==0.9.0.2
Pygments==2.11.2
pyparsing==2.3.1
pyserial==3.5
python-engineio==3.14.2
python-socketio==4.6.1
reedsolo==1.5.4
six==1.16.0
Werkzeug==0.16.1
